version: 2.1

orbs:
  python: circleci/python@1.2
jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run:
          name: Run tests
          command: pytest
  push-image:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Create image
          command: |
            echo $DOCKER_PASSWORD | docker login -u $DOCKER_LOGIN --password-stdin
            docker build -t oc_lettings .
            docker tag oc_lettings cocorico84/oc_lettings:$CIRCLE_SHA1
            docker image push cocorico84/oc_lettings:$CIRCLE_SHA1
  deploy:
      machine: true
      steps:
        - checkout
        - run:
            name: Build and push Docker image to Heroku
            command: |
              sudo curl https://cli-assets.heroku.com/install.sh | sh
              HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:login
              HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:push -a oc-lettings-cz web
              HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:release -a oc-lettings-cz web

workflows:
  sample:
    jobs:
      - build-and-test
      - deploy:
          filters:
              branches:
                only: master
