version: 2.1

orbs:
  python: circleci/python@1.2
  heroku: circleci/heroku@0.0.10

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run:
          name: Run tests
          command: pytest
  push-image:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Create image
          command: |
            echo $DOCKER_PASSWORD | docker login -u $DOCKER_LOGIN --password-stdin
            docker login --username=_ --password=${HEROKU_API_KEY} registry.heroku.com
            docker build -t oc_lettings .
            docker tag oc_lettings cocorico84/oc_lettings:$CIRCLE_SHA1
            docker image push cocorico84/oc_lettings:$CIRCLE_SHA1
            docker tag cocorico84/oc_lettings:$CIRCLE_SHA1 registry.heroku.com/oc-lettings-cz/web
            docker push registry.heroku.com/oc-lettings-cz/web
  deploy:
    machine: true
    steps:
      - checkout
      - run:
          name: Deploy on heroku
          command: |
            sudo curl https://cli-assets.heroku.com/install.sh | sh
            HEROKU_API_KEY=${HEROKU_API_KEY} heroku container:login
            HEROKU_API_KEY=${HEROKU_API_KEY} heroku container:release -a oc-lettings-cz web

workflows:
  sample:
    jobs:
      - build-and-test
      - push-image:
          requires:
            - build-and-test
      - deploy:
          requires:
            - push-image
          filters:
             branches:
               only:
                 - master
