version: 2.1

orbs:
  python: circleci/python@1.2
jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run:
          name: Run tests
          command: pytest
  push-image:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Create image
          command: |
            echo $DOCKER_PASSWORD | docker login -u $DOCKER_LOGIN --password-stdin
            docker build -t oc_lettings .
            docker tag oc_lettings cocorico84/oc_lettings:$CIRCLE_SHA1
            docker image push cocorico84/oc_lettings:$CIRCLE_SHA1
  deploy:
      machine: true
      steps:
        - checkout
        - run:
            name: Push Docker image to Heroku
            command: |
              heroku container:push web -a oc-lettings-cz
              heroku container:release web -a oc-lettings-cz

workflows:
  sample:
    jobs:
      - build-and-test
      - push-image
      - deploy:
          filters:
              branches:
                only: master
